*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
main{
    display: flex;
}
main nav{
    width: 180px;
    height: calc(100vh - 80px);
    background-color: rgb(0, 0, 0);
}
main section.contents{
    width: calc(100% - 180px);
    height: calc(100vh - 80px);
    background-color:rgb(20 25 34);
    overflow-y: scroll;
}
.contents h2{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
section.contents-top{
    padding: 0.5em;
    height: 80px;
    background-color:rgb(8 11 18);

}
section.contents-main{
    padding: 1em;
    
}
footer{
    position: sticky;
    height: 80px;
    background-color: #282828;

}
.logo-white{
    padding: 1em;
    width: 150px;
}
.block{
    display: block;
}
.margin{
    margin: 0 auto;
}
.width-100{
    width: 100%;
}
.width-76{
    width: 76%;
}
.width-70{
    width: 70%;
}
.width-60{
    width: 60%;
}
.width-30{
    width: 30%;
}
.width-20{
    width: 20%;
}
.width-80{
    width: 80%;
}
.height-100{
    height: 100%;
}
.height-80{
    height: 80%;
}
.height-20{
    height: 20%;
}
.margin-left{
    margin-left: 0.3em;
}
button{
    position: fixed;
    z-index: 1;
    margin-right: 2em;
    border-radius: 30px;
    background-color: rgb(8 11 18);
    padding: 0.8em 1.8em;
    font-size: 0.6em;
    font-weight: bold;
}
button a{
    text-decoration: none;
    color: white;
}
.nav-top{
    width: 100%;
    
}

.nav-bottom{
    width: 100%;
}
ul{
    list-style: none;
    padding: 1em;
}
li{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
li a{
    text-decoration: none;
    color: white;

}
div.top-2 li{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1em;
    margin-left: 1em;
}
.margin-bottom img{
    width: 115px;
}
.square{
    width: 30px;
    height: 30px;
    background-color: white;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    display: flex;
}
hr{
    color: white;
    opacity: 40%;
    margin: 10px 0px;
    width: 100%;
}
.top-1{
    width: 100%;
}
.top-2{
    width: 100%;
}
.recently-played{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
section.contents img{
    width: 100%;
    display: block;
    
}
section.contents h1{

    margin-top: 5px;
    margin-bottom: 5px;
    
}
.song{
    height: 100%;
    width: calc((100% / 6) - 1em);
    margin-right: 1em;
}
.user-songs{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.popoular-artist{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.popoular-artist .song img{
    border-radius: 50%;
}
.setup{
    height: 100%;
}
.song-setup{
    width: 200px;

    padding: 1em 0.5em;

}
.play-setup{
    width: calc(100% - 400px);
    height: 100%;
    min-width: 171px;
}
.play{
    font-size: 25px;
}
.volume-setup{
    width: 200px;

    padding: 1em 0.5em;
}
.song-image{
    width: 30px;
    height: 30px;
}
.song-image img{
    width: 100%;
}
.song-setup i{
    margin: 0.3em;
}
.album-name{
    margin: 0.5em;

}
.album-name a{
    text-decoration: none;
    color: white;
}
.play-setup i{
    margin: 0 10px;
}
.font-size{
    font-size: 2em;
}
.volume-setup i{
    margin: 0.3em;
}
.line{
    height: 3px;
    background-color: white;
}
.ball{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    right: -7.5px;
    bottom: calc(50% - 7.5px);
    display: none;
}
.play-options{
    height: 40%;
    width: 100%;
}
.time{
    height: 40%;
    width: 100%;
}
.what-time{
    margin: 0.5em;
}
.song i{
    position: absolute;
    font-size: 4em;
    left: 0px;
    left: calc(50% - 32px);
    top: calc(50% - 48px);
}
.play-button i{
    display: none;
    
}
.relative{
    position: relative;
}





.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.row-reverse{
    flex-direction: row-reverse;
}
.wrap{
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.padding-bottom-0{
    padding-bottom: 0px;
}
.content-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.margin-bottom{
    margin-bottom: 2em;
}
.icon-width{
    width: 20px;
}
.text-white{
    color: white;
}
.border-left{
    position: absolute;
    left: -16px;
    height: 27px;
    width: 2px;
    background-color: #1cff35;
    top: -2px;
}
.border-bottom{
    position: absolute;
    bottom: -6px;
    left: calc(50% - 13px);
    width: 27px;
    height: 2px;
    background-color: #1cff35;
}
.text-small{
    font-size: 0.7rem;
}
.margin-left{
    margin-left: 2px;
}
.opacity{
    opacity: 60%;
}
.border-radius{
    border-radius: 50%;
}
.none{
    display: none;
}
.invert{
    filter: invert(1);
}
/*HOVER*/
.contents i:hover{
    cursor: pointer;
}
.nav-top li:hover{
    cursor: pointer;
}
li:hover{
    opacity: unset;

}
.contents img:hover{
    opacity: 60%;
}
.contents img:hover{ 
    cursor: pointer;
}


.play-button:hover .big-play{
    display: block;
}
button:hover{
    font-size: 0.8em;
}
.album-name a:hover{
    text-decoration: underline;
    opacity: unset;
}
.song-setup i:hover{
    cursor: pointer;
    opacity: unset;
}
.play:hover{
    font-size: 35px ;
    cursor: pointer;
}
.line-large:hover .ball{
    display: block;
    
    
}
.line-large:hover{
    cursor: pointer;

}
.line-large:hover .width-20{
    background-color: #1cff35;

}


/*RESPONSIVE*/
@media screen and (max-width:992px) {
    div.recently-played{
        flex-wrap: wrap;
    }
    div.song{
        height: 100%;
        width: calc((100% / 4) - 1em);
        margin-right: 1em;
    }
    div.top-2 li{
        padding: 0px 2em;
        margin-bottom: 2em;
    }
}

@media screen and (max-width:768px) {
    div.recently-played{
        flex-wrap: wrap;
    }
    div.song{
        height: 100%;
        width: calc((100% / 2) - 1em);
        margin-right: 1em;
    }
    
}
@media screen and (max-width:576px) {
    main section.contents{
        width: unset;
    }
    .block{
        display: none;
    }
    nav.flex {
        
        width: unset;
    }
    .nav-top ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-bottom ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.contents{
        width: 100px;
    }
    div.recently-played{
        flex-wrap: wrap;
    }
    div.song{
        height: 100%;
        width: calc((100% / 2) - 1em);
        margin-right: 1em;
    }
    .song-setup{
        padding-right: 1.5em;
    }
    .volume-setup{
        padding-left: 1.5em;
    }
    div.song-setup .no-wrap{
        flex-wrap: wrap;
    }
    .favicon{
        display: block;
    }
    .download{
        margin-right: 3px;
    }
}